@font-face {
    font-family: "ClockFont";
    src: url("digital-7.ttf") format("truetype");
}
@font-face{
    font-family: "eras";
    src: url(eras.ttf);
}
.clock { 
    font-family: "ClockFont";
    font-size: 5em;
}
.inline{
    display: inline;
    font-size: 5em;
}
html{
    background: #f44242;
    min-width: 555px;
}

.container{
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius: 7%;
    margin: 0 auto;
    margin-top: 10%;
}
.clockWrapper{
    margin: 0 auto;
    text-align: center;
}
.social{
    margin: 0 auto;
}
p{
    margin-top: 10px;
}
.eras{
    font-family: 'eras'; 
    font-size: 4em; padding-top: 1em
    
}
.logo{
    margin-left: calc(50% - 203px); 
    
}