body{
    background: #E4F1FE;
    color: black;
}

.center-content{
    text-align: center;
}

.button{
    cursor: pointer;
    border-top: 2px solid white;
    padding: 15px;
}

.last{
    border-bottom: 2px solid white;
}
    
.soft-purple{
    background: #BE90D4;
    color: black;
}

.soft-blue{
    background: #89C4F4;
    color: black;
}

.soft-red{
    background: #EC644B;
    color: black;
}

.soft-green{
    background: #90C695;
    color: black;
}

.soft-orange{
    background: #F27935;
    color: black;
}

.soft-yellow{
    background: #F9BF3B;
    color: black;
}