<div class="container">
    <div class="row" style="margin-top: 10%">
        <div class="col-xs-12 center-content">
            <h1 class="appTitle">iEmotions</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 10%"></div>
    <div class="row">
        <div class="col-xs-12 center-content button soft-purple" id="ignorar">
            <h1>IGNORAR</h1>
        </div>
        <div class="col-xs-12 center-content button soft-red" id="si">
            <h1>SI</h1>
        </div>
        <div class="col-xs-12 center-content button soft-blue" id="no">
            <h1>NO</h1>
        </div>
        <div class="col-xs-12 center-content button soft-green" id="nope">
            <h1>NOPE</h1>
        </div>
        <div class="col-xs-12 center-content button soft-orange" id="sapbe">
            <h1>SAPBEEEE</h1>
        </div>
        <div class="col-xs-12 center-content button last soft-yellow" id="jueputa">
            <h1>JUEPUTA</h1>
        </div>

    </div>  
</div>
